
Roll_n_Run/.project
.metadata/
Roll_n_Run/generator.log
Roll_n_RunGen/Roll_n_RunGenNHibernate/bin/Debug
Roll_n_RunGen/InitializeDB/obj/x86/Debug/InitializeDB.csproj.AssemblyReference.cache
Roll_n_RunGen/.vs/Roll_n_RunGenNHibernate/v16/.suo
