@model RollNRunWeb.Models.PedidoViewModel

@{
    ViewBag.Title = "Tramite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tramite</h2>



@{Html.RenderAction("SelectorTarjeta", "Pedido", new { id = Model.id }); }

@Html.ActionLink("Añadir Tarjeta", "Create", "Tarjeta")

@{Html.RenderAction("LineasCarrito", "Pedido", new { id = Model.id }); }

